<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542367235-d0f3b564d16e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);">
  <div class="container ">
    <h1><strong>New Target</strong></h1>
    <p>Give us some informations</p>
    <div class="d-flex align-items-end flex-column bd-highlight mb-3">
      <div class="mt-auto p-2 bd-highlight">
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-7">
      <div class="block-form form-style">
        <%= simple_form_for [@hood, @contract] do |f|%>
          <%= f.input :name, label: "Target's name" %>
          <%= f.input :description, :as => :text, :input_html => { 'rows' => 5, 'cols' => 7 } %>
          <%= f.input :location%>
          <%= f.input :date %>
          <%= f.input :violence_required%>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: "button-card-form" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card-product mx-3">
        <img src=<%= @hood.url %> />
        <div class="card-product-infos">
          <div class="block-name-star">
            <h2><%= @hood.name %></h2>
            <div class="stars-new">
              <p class="ml-3">
                <% if (5 - @hood.rating) != 0 %>
                  <% @hood.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - @hood.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% else %>
                  <% 5.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
          <p class="description"><%= @hood.description %></p>
        </div>
        <div class="lvl-violence d-flex justify-content-between">
          <p class="ml-3 mt-5">Aggressivity : </p>
          <div class="ml-3 mt-5">
            <% if (3 - @hood.violence_range) != 0 %>
              <% @hood.violence_range.times do %>
                <i class="fas fa-tint"></i>
              <% end %>
              <% (3 - @hood.violence_range).times do %>
                <i class="fas fa-tint drop-vide"></i>
              <% end %>
            <% else %>
              <% 3.times do %>
                <i class="fas fa-tint"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <p class="respond mt-5 ml-3"><%= @hood.name %> responds in 1 hour on average.</p>
      </div>
      <div class="link-to-profil mx-3">
        <%= link_to "Return to Hood profile", hood_path(@hood), class:"btn-back-form" %>
      </div>
    </div>
  </div>
</div>
