<div class="container">
  <div class="show-box">
    <div class="card mb-3 contract-header borders-rounded-header">
      <div class="justify-content-center">
        <div class="row no-gutters justify-content-center ">
          <p class="file-name">CONTRACT</p>
          <div class="col-md-8 contract-image">
            <% if @contract.photo.attached? %>
              <%= cl_image_tag @contract.photo.key, height: 200, width: 200, crop: :fill %>
            <% else %>
              <%= cl_image_tag("izscg7g1bbr6pngllryx", height: 200, width: 200, crop: :fill) %>
            <% end %>
            <p class="role"><i class="fas fa-boxing-glove $rouge"></i></p>
          </div>
          <%= link_to "Back", hoods_path, class:"btn-back" %>
          <div class="col-md-8">
            <div class="card-body-header">
              <div>
                <h4 class="card-title"><strong><%=@contract.name.capitalize%></strong></h4>
              </div>
              <p class="card-text location"><i class="fas fa-map-marker-alt"></i>  <%= @contract.location.upcase %></p>
              <p class="card-text"><i class="fas fa-euro-sign"></i>  <%=@contract.hood.price%></p>
              <%= link_to @contract.hood.name + "'s profile", hood_path(@hood), class:'button button-rouge' %>
            </div>
          </div>
          <div class="col-md-8">
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters justify-content-center">
      <div class="card w-100 borders-rounded">
        <div class="card-body-show">
          <h5 class="card-title">Description: </h5>
          <p class="card-text"><%= @contract.description %></p>
          <div class="violence-date">
            <div class="card-title-block">
              <h5 class="card-title">Violence Required</h5>
              <div class="lvl-violence">
                <div class="mt-2">
                  <% if (3 - @contract.violence_required) != 0 %>
                    <% @contract.violence_required.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                    <% (3 - @contract.violence_required).times do %>
                      <i class="fas fa-tint drop-vide"></i>
                    <% end %>
                  <% else %>
                    <% 3.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
              <div class="card-title-block">
                <h5 class="card-title">Date</h5>
                <div class="block-content">
                  <%= @contract.date %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

