
<div class="container">
  <div class="container d-flex justify-content-center my-3">
    <div class="card mb-3 w-75 contract-header">
      <div class="row no-gutters justify-content-center">
<!--         <div class="card-role">
          <p><i class="fas fa-boxing-glove"></i></p>
          </div> -->
          <div class="col-md-4 contract-image wants-role">
            <img src="https://resize-parismatch.lanmedia.fr/r/625,417,forcex,center-middle/img/var/news/storage/images/paris-match/actu/international/trump-signe-la-loi-imposant-des-sanctions-contre-le-gazoduc-nord-stream-1666064/27168956-1-fre-FR/Trump-signe-la-loi-imposant-des-sanctions-contre-le-gazoduc-Nord-Stream.jpg" alt="...">
            <p class="role"><i class="fas fa-boxing-glove"></i></p>
          </div>
          <%= link_to "Back", hoods_path, class:"btn-back" %>
          <div class="col-md-8">
            <div class="card-body-header">
              <div><h4 class="card-title"><strong><%=@contract.name%></strong></h4></div>
              <p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= @contract.location.upcase %></p>
              <p class="card-text"><i class="fas fa-euro-sign"></i>  <%=@contract.hood.price%></p>
              <%= link_to "Hood profile", hoods_path, class:"button button-rouge" %>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center my-3">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">Description: </h5>
        <p class="card-text"><%= @contract.description %></p>
        <h5 class="card-title">Violence</h5>
                  <div>
                    <% @contract.violence_required.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                  </div>
      </div>
    </div>
  </div>
</div>

