<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542367235-d0f3b564d16e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);">
  <div class="container ">
    <h1><strong>Hood</strong></h1>
    <p>You have problems, we have <strong>the</strong> solution</p>
    <div class="d-flex align-items-end flex-column bd-highlight mb-3">
      <div class="mt-auto p-2 bd-highlight">
      </div>
    </div>
  </div>
</div>

<div class = "container">
  <% if  %>
    <% @hoods.count == 0 %>
    <h5 class="error-title" >Sorry, there are no Hoods in this city: <%= params[:search].to_s %> </h5>
    <h5 class="error-title"> Try an other city</h5>
    <%= link_to "Search again", root_path, class:"btn btn-secondary" %>
  <% end %>

  <div class ="row colonne">
    <% @hoods.each do |hood| %>
      <div class ="col-xs-12 col-md-6 col-lg-3">
        <div class ="d-flex justify-content-around">
          <div class ="card mt-3 mb-3" id="card-hood">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1572983423767-fa0ff3d2bf81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="Photo de chaque hoodman">
            <div class="card-body">
              <div class="card-price" >
                <p><%= hood.price %>€</p>
              </div>
              <div class="stars">
                <p>
                  <% if (5 - hood.rating) != 0 %>
                    <% hood.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - hood.rating).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% else %>
                    <% 5.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <% end %>
                </p>
              </div>
              <h5 class="card-title"><%= hood.name %></h5>
              <p class="card-text"><%= hood.description %></p>
              <div class="lvl-violence d-flex justify-content-between">
                <p>Aggressivity: </p>
                <div>
                  <% if (3 - hood.violence_range) != 0 %>
                    <% hood.violence_range.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                    <% (3 - hood.violence_range).times do %>
                      <i class="fas fa-tint drop-vide"></i>
                    <% end %>
                  <% else %>
                    <% 3.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <%= link_to "See more", hood_path(hood), class:"button-card d-flex justify-content-center" %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
