<div class="container d-flex justify-content-center my-3">
  <div class="card mb-3 w-75">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://picsum.photos/200" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between">
          <div><h4 class="card-title"><%=@hood.name%></h4></div>
          <div> <%= link_to "Proposer un projet", new_hood_contract_path(@hood), class:"btn btn-secondary"%></div>
          </div>
            <p class="card-text"><%= @hood.city %></p>
          <div>
            <p class="card-text">Tarif indicatif</p>
            <p class="card-text"><%=@hood.price%> €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center my-3">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Description: </h5>
      <p class="card-text"><%= @hood.description %></p>
      <h5 class="card-title">Skills:</h5>
      <p class="card-text"><%= @hood.skills %></p>
      <%= link_to "Back", hoods_path, class:"btn btn-secondary" %>
    </div>
  </div>
</div>

