<div class="container">
  <div class="show-box">
    <div class="card mb-3 contract-header borders-rounded-header">
      <div class="justify-content-center">
        <div class="row no-gutters justify-content-center ">
          <p class="file-name">HOOD PROFILE</p>
          <div class="col-md-8 contract-image">
            <img src= <%= @hood.url %> class="card-img" alt="...">
            <p class="role"><i class="fas fa-boxing-glove $rouge"></i></p>
          </div>
          <%= link_to "Back", hoods_path, class:"btn-back" %>
          <div class="col-md-8">
            <div class="card-body-header">
              <div>
                <h4 class="card-title"><strong><%=@hood.name.capitalize%></strong></h4>
              </div>
              <p class="card-text location"><i class="fas fa-map-marker-alt"></i>  <%= @hood.city.upcase %></p>
              <p class="card-text"><i class="fas fa-euro-sign"></i>  <%=@hood.price%></p>
              <%= link_to "Create contract", new_hood_contract_path(@hood), class:"button button-rouge"%>
            </div>
          </div>
        </div>
          <div class="col-md-8">
          </div>
      </div>
    </div>
    <div class="row no-gutters justify-content-center">
      <div class="card w-100 borders-rounded">
        <div class="card-body-show">
          <h5 class="card-title">Description: </h5>
          <p class="card-text description"><%= @hood.description.capitalize %></p>
          <div class="violence-date">
            <div class="card-title-block">
              <h5 class="card-title">Violence range</h5>
              <div class="lvl-violence">
                <div class="mt-2">
                  <% if (3 - @hood.violence_range) != 0 %>
                    <% @hood.violence_range.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                    <% (3 - @hood.violence_range).times do %>
                      <i class="fas fa-tint drop-vide"></i>
                    <% end %>
                  <% else %>
                    <% 3.times do %>
                      <i class="fas fa-tint"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="card-title-block">
              <h5 class="card-title">Skills</h5>
              <div class="block-content-hood">
                <%= @hood.skills.capitalize %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
