<div class="navbar navbar-expand-sm navbarr-light navbar-lewagonn">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo_black_hood.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="item_de_navv">
        <li class="nav-item">
          <%= link_to "Home", hoods_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contracts", contracts_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown ml-1">
          <%= image_tag "https://i.pinimg.com/236x/03/ad/ea/03adeaaa67be045f9d0f0c9d520e896c--mr-bean-beans.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
