<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Lacagoule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <% if controller_name == 'hoods' && action_name == 'index' %>
    <body class="hoods-background">
  <% end %>
  <body>

    <% if user_signed_in? %>
    <%= render 'shared/navbar' %>
    <% end %>

    <% unless user_signed_in? %>
      <%= link_to "Log in", new_user_session_path, class:"button-login" %>
    <% end %>

    <%= yield %>
    <%= render 'shared/flashes' %>

    <% if controller_name == 'pages' && action_name == 'home' %>

    <% else %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
